* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Suisse Intl";
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  box-sizing: content-box;
}

button {
  cursor: pointer;
  border: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
