* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Suisse Intl';
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1180px;
  box-sizing: content-box;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
