.header {
  background-image: url("../img/header/Header_web.png");
  background-position: center;
  background-size: cover;
}

.header__menu-block {
  padding: 14px 24px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(8, 9, 10);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.header__menu-left {
  display: flex;
  gap: 24px;
  align-items: center;
  width: 292px;
}

.header__logo {
  margin-right: 36px;
}

.header__select span,
.header__select-lang span {
  display: flex;
  align-items: center;
}

.header__lists {
  display: none;
  position: absolute;
  list-style-type: none;
}

.header__menu-right {
  width: 268px;
  display: flex;
  justify-content: space-between;
}

.header__btn-login {
  font-size: 16px;
  font-weight: 500;
  color: rgb(7, 8, 9);
  line-height: 140%;
  border: none;
  background: none;
}

.header__link-blog,
.header__link-book {
  font-size: 16px;
  font-weight: 500;
  color: rgb(7, 8, 9);
  line-height: 140%;
}

.header__awards {
  width: 740px;
  margin: 32px auto 0;
  gap: 32px;
  display: flex;
  justify-content: center;
}

.header__award {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__award span {
  width: 1px;
  height: 30px;
  background: rgba(114, 112, 126, 0.4);
}

.header__copy {
  color: rgb(68, 70, 74);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.header__content {
  margin-top: 32px;
  text-align: center;
}

.header__title {
  width: 840px;
  margin: 0 auto;
  font-size: 64px;
  font-weight: 500;
  line-height: 110%;
}

.header__subtitle {
  margin: 24px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.48);
  opacity: 0.5;
}

.header__btn {
  width: 199px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  padding: 22.5px 24px;
  border-radius: 99px;
  border: none;
  background: rgb(180, 112, 235);
}

.header__btn:hover {
  transition: 0.5s;
  background: rgb(0, 0, 0);
}

.header__bottom {
  margin-top: 48px;
}

.header__text {
  text-align: center;
  color: rgb(114, 112, 126);
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
}

.header__bottom {
  overflow: hidden;
}

.header__logos {
  animation: running-logos 15s linear infinite;
  padding-bottom: 100px;
  margin-top: 8px;
  display: flex;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 26px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 100px;
}

.bar:last-child {
  margin-top: 8px;
}

@keyframes running-logos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1200px);
  }
}

@media (max-width: 431px) {
  .header__menu-block {
    padding: 9px 18px;
  }
  .header__menu-right {
    align-items: center;
  }
  .header__select,
  .header__select-lang img,
  .header__link-blog,
  .header__link-book {
    display: none;
  }

  .header__awards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 350px;
    height: 82px;
  }

  .header__award {
    padding: 8px;
  }

  .header__award img {
    width: 80px;
  }
  .header__award:nth-child(2) img {
    width: 53px;
  }
  .header__award:nth-child(3) img {
    width: 22px;
  }

  .header__award span {
    height: 24px;
  }

  .header__copy {
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
  }

  .header__title {
    width: 297px;
    font-size: 32px;
    font-weight: 400;
  }

  .header__btn {
    width: 174px;
  }

  .burger-menu {
    display: block;
  }
}
